body {
    background-color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: inline-block;
    margin: 30px;
}

a {
    text-decoration: none;
    color: black;
}

main {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

section {
    min-width: 300px;
    max-width: 300px;
}

section > h1 {
    font-size: 4em;
    margin: 0px;
}

button {
    padding: 15px 40px;
    border-radius: 100px;
    border-style: none;
    background-color:  black;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.781);
    transition: 0.5s ease;
}

.act_btn {
    color: whitesmoke;
}

#nav_btn {
    padding: 10px 30px;
}

img {
    min-width: 400px;
}
